

/* ADMIN SETTINGS
   ============================= */

#login_page {
    padding: 10% 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    @include clearfix;
    h2 {
        text-align: center;
        color: $purple;
        margin: 25px;
    }
    .btn-dark{
        margin: auto;
    }
    label{
        min-height: 30px;
        font-weight: bold;
        color: $light_dark;
        font-size: 1.2em;
        margin-top: 20px;
    }
}


#admin_internal {
    @include back_Image( '../img/background.jpg', 60vh);
    width: 100%;
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: center;

    h1 {
        color: $white;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: $heading;
        display: table-cell;
        vertical-align: middle;
    }
}

#admin_controls {
    margin-right: 0;
    margin-left: 0;

    #admin_gallery_upload {
        // background-color: $purple;
        padding: 1.5em 3em;
        background-color: $purple;
        color: $white;

        h2 {
            font-family: $heading;
        }

        p {
            margin-top: 20px;
        }
    }

    #admin_news_upload {
        padding: 1.5em 3em;
        background-color: $orange;

        h2 {
            font-family: $heading;
        }

        p {
            margin-top: 20px;
        }
    }

    #admin_gallery_upload a,
    #admin_news_upload a {
        margin-left: 0;
    }
}

#news_table {
    // background-color: $orange;
    color: $dark;
    padding: 1.5em 3em;
    background-color: $light;
    margin: 20px 0;

    h2 {
        font-family: $heading;
        font-weight: 400;
        border-bottom:2px solid $white;
        padding:0.5em 0;
    }
    table {
        font-size: 1.5rem;
        text-align: left;
        width: 100%;

        caption {
            font-size: 2.5rem;
            text-align: left;
            padding-bottom: 5px;
        }

        > tbody,
        > tfoot,
        > thead {
            > tr {
                &:hover {
                    background-color: lighten(adjust-hue($purple, -14deg), 98%);
                }

                &:nth-child(even) {
                    background-color: #FEFEFE;

                    &:hover {
                        background-color: opacify($light, .3);
                    }
                }

                >th {
                    font-family: $heading;
                    text-transform: uppercase;
                    font-weight: 400;
                }
                > td,
                > th {
                    padding: 10px;
                    border-bottom: 1px solid $orange;
                }
            }
        }

        > thead > tr {
            color: $light;

            &:hover {
                background-color: complement($light);
            }

            > th {
                border-bottom: 0;
            }
        }
    }
}
