

/* ARTICLES/NEWS SETTINGS
   ============================= */

// CSS for the articles and positioning
.article_post {
	@include article_back (
        '../img/picture_2.png');
	padding: 20px;
}

.article_post_one {
	@include article_back (
        '../img/news_image_3.jpg');
	padding: 20px;
}

.article_post_two {
	@include article_back (
        '../img/news_image_1.jpg');
	padding: 20px;
}

.article_head {
	max-width: 330px;
	background-color: $purple;
	padding: 6px 12px;
	display: inline-block;
	color: $white;
	margin:	auto 20px auto 10px;
	transform: translateY(220px);
	box-shadow: 0px 2px 8px $light_dark;

	h4 {
		font-family: $heading;
	}

}

.ticket_box {
	padding: 20px;
	text-align: center;

	img {
	      width: 70px;
	      border-radius: 50%;
	      margin: auto;
	      display: block;
	  }

	  p {
	  	padding:0px 20px;
	  	line-height: 22px;
	  }

}

.news_post {
	@include article_back (
        '../img/news_image_2.jpg');
	padding: 20px;
	margin: 20px 0;
}

.news_head {
	max-width:	350px;
	background-color:	$purple;
	padding: 6px 12px;
	display: block;
	color: $white;
	margin: auto  50px auto 0px;
	transform: translateY(120px);
	text-align: left;
	font-size: 1em;

	h4 {
		font-family: $heading;
		font-size:1.2em;
		margin-bottom:0px;

		a {
			color: $white;
		}
	}

}

#exhibition_text {
	padding: 50px;
}

#exhibition_news {
    .first_post {
        padding-left: 0;
    }
    .second_post {
        padding-right: 0;
    }

    .first_post,
    .second_post {
        .article_background {
            height: 65px;
            background-color: #f8f8f8;
        }
    }
    .box_background {
        height: 100px;
        background-color: #fff;
    }
}


.instagram_post {
	@include article_back (
        '../img/instagram_1.jpeg');
}
