

/* SOME TAG STYLING AND RANDOM BACKGROUND
   ============================= */

// Basic CSS, such as backgrounds, body definition
h1, h2, h3 {
    font-weight: 800;
    font-family: Montserrat;
    letter-spacing: 2px;
    z-index: 30;
}

h4 {
    font-family: Montserrat;
}

section {
    margin-top: 20px;

    h2 {
        font-weight: bold;
        margin-bottom: 20px;
        font-weight: 800;
        font-family: Montserrat;
        letter-spacing: 2px;
    }
    .sub_heading {
        font-size: 15.5px !important;
        margin-bottom: 20px;
        line-height: auto;
        letter-spacing: 1;
        line-height: 1.6em;
    }
}


.clear{
    clear:both;
}

.main_container {
    padding: 1.5em 0;
}


// Section background stylings
#white_background {
    background: $light;
    padding: 20px 20px 30px 20px;
    margin-top: 20px;
    text-align: center;
    @include clearfix;
    h2 {
        text-align: center;
        color: $purple;
    }
    .sub_heading {
        color: $light_dark;
    }
}

#purple_background {
    background-color: $purple;
    color: $white;
    text-align: center;
    padding: 20px 20px 30px 20px;
    .sub_heading {
        color: $light_white;
    }
}

// Sound Exhibtion Section styling
#purple_background:first-child,
#purple_background:nth-child(2n+2) {
    padding: 0px;
    text-align: left;

    .row {
    display: table;
    }

    [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    }

    .btn-light {
        margin-left: 0;
    }

}


.buy_tickets {
    .ticket_box {
        p {
            color: $light_white;
        }
    }
}


// Google Maps styling of height, margin and width
#map {
    padding:0;
    width:100%;
    margin:auto;
    height: 380px;
    margin-bottom: 20px;
}


// Preloader background and positioning of the logo
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 9999;
    /* makes sure it stays on top */
}

#status {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    height: 100%;
    width: 100%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../img/loop_loading.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    z-index: 9999;
    /* is width and height divided by two */
}


/* Review Slider for mobile >768px */
#exhibition_picture {
	@include ex_Image (
		'../img/man_headset.jpg');
	background-position: center center;
}


// Aarhus 2017
#aarhus2017_picture {
  @include ex_Image (
    '../img/aarhus_project_2017.jpg');
  background-position: center;

}

#aarhus2017_text {
  padding: 50px;

  	h2 {
  		text-align: left;
  		}

    %btn {
  	float: left;
          }

  	p {
      line-height:  26px;
      text-align: left;
      font-size: $main_font_size;
  }

}
