

/* BUTTON SETTINGS
   ============================= */

%btn {
    display: inline-block;
    padding: 11px 27px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 40px;
    font-family: Montserrat;
    text-transform: uppercase;
    user-select: none;
    color: $white;
    margin:20px;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
}

.btn-dark {
    @extend %btn;
    background: $purple;
    #login_page{
        margin: auto;
    }
    &:hover {
        background-color: #ffb246;
    }
}

.btn-light {
    @extend %btn;
    background: $white;
    color: $purple;
    &:hover {
        background-color: #ffb246;
    }
}
