

/* EDIT NEWS SETTINGS
   ============================= */

#edit_newsitems {
	background: $purple;
	color: $white;
	margin-bottom: 30px;

	#edit_upload {
		background: $orange;
		color: $dark;
		padding: 30px;
	}

	h2 {
		font-family: $heading;
		font-weight: normal;
	}

	table {
		width: 100%;
		overflow: hidden;

		td,
		th {
			padding: 10px;
		}

		th {
			border-bottom: 2px solid $orange;
			font-family: $heading;
			text-transform: uppercase;
			font-weight: normal;
		}

		td {
			border-bottom: 1px solid $light;
		}

		h4 {
			font-family: $heading;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 14px;

			a {
				color: $white;
			}
		}
	}
}

.nextprev {
	padding: 20px 0;
	font-family: $heading;
	text-transform: uppercase;
	font-weight: normal;

	a {
		background: $orange;
		color: $white;
		padding: 10px 20px;
		border-radius: 40px;
	}
}

#edit_form {
	background: $light;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: 0 5px 15px;

	.controls {
		border: 3px solid $orange;
		padding: 25px;
		border-radius: 3px;
	}

	h1 {
		color: $purple;
		font-family: $heading;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: normal;
	}

	form {
		label {
			margin-bottom: 5px;
			display: block;
			font-family: $heading;
			text-transform: uppercase;
			font-weight: normal;
		}

		.form-control {
			width: 100%;
			border: 1px solid $light;
			border-radius: 3px;
		}

		input[type="reset"],
		input[type="submit"] {
			@extend %btn;
			display: block;
			background: $purple;
			margin: 10px 0;
			font-weight: normal;
		}

		#deleteButton {
			background: $white;
			color: $purple;
		}
	}
}
