

/* FOOTER SEETINGS
   ============================= */

footer {
    background-color: $light;
    text-align: left;
    display: table;
    width: 100%;
    color: $purple;
    margin-top: 0;
    padding: 65px 0;

    .footer_nav {
        display: block;
        margin: 5px 0;
    }

    .row {
        padding: 30px 0;

        &:first-child {
            margin-left: 0;
        }
    }

    h4 {
        font-weight: bold;
        margin-bottom: 25px;
    }

    a {
        color: $purple;
    }

    a:hover {
        text-decoration: none;
    }

    p {
        line-height: 180%;
    }

    img {
        max-width: 45px;
        padding: 5px;
    }
}
