

/* GALLERY SETTINGS
   ============================= */

#Gallery {
	width: 100%;
	max-height: 500px;
	overflow: hidden;

	.carousel {
		width: 100%;
	}

	.carousel-inner > .item {
		width: 100%;
		margin: auto;
		text-align: center;
	}
}
