

/* INSTAGRAM GRID SETTINGS
   ============================= */
   
.grid {
    margin-top: 35px;
    padding: 20px 20px 0;
    @include clearfix;

    .item {
        float: left;
        @include image_grid(4, 2%);
    }

    img {
        display: block;
        max-width: 100%;
    }
}
$color-even-cells: transparentize($purple, .8);
