

/* LANDING PAGES SETTINGS
   ============================= */

// Mobile/tablet Landing
#landing {
    @include back_Image( '../img/background.jpg', 90vh);
    text-align: center;
    display: table;
    width: 100%;
    color: $white;
    margin-top: 0;

    .container {
        display: table-cell;
        vertical-align: middle;
        padding-top: 100px;
    }

    h1 {
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 5px;
        font-family: $heading;
        font-size: 4em;
    }

    p {
        font-size: 1.5em;
        opacity: 0.8;
    }
}
// Desktop Landing
.bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

#video_landing_text {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h1 {
        color: $white;
        font-weight: bold;
        font-weight: 800;
        font-family: Montserrat;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    p {
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 300;
        color: $light_white;
        line-height: 1em;
    }

    p:first-of-type {
        margin-top: 20px;
    }

    p:last-of-type {
        margin-bottom: 30px;
    }

    a {
        z-index: 30;
    }
}
