

/* MEDIA QURIES SETTINGS
   ============================= */

@media (min-width: 1200px) {
    #edit_newsitems {
        .row {
            display: table;
        }

        [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: top;
        }
    }

    #review_carousel {
        display: none;
    }
}
/* Making sure the popup will scroll on the small devices */
@media screen and (max-width: 968px) {
    .popup {
        overflow-y: scroll;
    }

    .popup_inner {
        width: 100%;
        top: 0;
        left: 0;
        transform: translateX(0) translateY(0);
    }
}
@media (min-width: 992px) {
    #review_carousel {
        display: none;
    }
}
@media (min-width: 768px) {
    #admin_controls {
        .row {
            display: table;
        }

        [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: top;
        }
    }

    .container > .navbar-collapse,
    .container > .navbar-header,
    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header {
        margin-right: $navbar-padding-horizontal;
        margin-left: $navbar-padding-horizontal;
    }

    #newsitems_box {
        .row {
            display: table;
        }

        [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: middle;
        }
    }

    #review_carousel {
        display: none;
    }
}
@media (max-width: 768px) {
    h1,
    h2,
    h3 {
        text-align: center;
    }

    %btn {
        font-size: 2.2vw;
    }

    .navbar-nav {
        background: $light;
        opacity: 0.8;
    }

    .navbar-default .navbar-nav > li > a {
        color: $purple;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
    }

    .navbar-default .navbar-toggle {
        .icon-bar {
            background-color: $light;
        }
    }

    #exhibition_text {
        padding: 20px;

        a.btn {
            margin-left: 20px !important;
        }
    }

    .carousel-inner {
        margin: 20px 0;
    }

    #review_text {
        display: none;
    }

    #exhibition_news {
        .article_post_one {
            padding: 20px 0;

            .article_head {
                margin: 0;
            }
        }
    }
    // content.php
    .news_post {
        background: #222;
        height: auto;
        min-height: 0;
        padding: 0;
        margin: 5px -10px;

        .news_head {
            transform: translateY(0px);
            margin: auto;
            max-width: 100%;
            width: 100%;
        }
    }
    // view_newsitems.php
    #newsitems_box {
        h2 {
            margin-top: 0;
        }

        #news_date {
            margin-top: 20px;
        }
    }
    // Buy tickets
    .buy_tickets {
        .ticket_box {
            p {
                margin-bottom: 25px;
                padding: 0;
            }
        }
    }
    // News articles
    .news_head {
        h4,
        p {
            text-align: center !important;
        }
    }
    // Instagram
    .grid {
        margin: 15px 0;
        padding: 20px 20px 0;
        @include clearfix;

        .item {
            float: left;
            @include image_grid(1, 2%);
        }

        img {
            display: block;
            max-width: 100%;
        }
    }
    // Aarhus 2017
    #aarhus2017_text {
        padding: 20px;

        h2 {
            text-align: center;
        }

        a.btn {
            margin-left: 20px !important;
        }
    }
    // footer
    footer {
        padding: 20px 0;

        .footer_row {
            margin-bottom: 20px;

            h4 {
                margin-bottom: 10px;
            }
        }

        a,
        img,
        p {
            text-align: justify;
        }
    }
    // ticket.php
    #purchase_ticket {
        padding: 20px 10px;

        .row {
            margin: 0;

            #contact_form {
                .controls {
                    padding: 1.5em 1em;
                }
            }

            .button_mobile {
                text-align: center;

                button {
                    margin-left: 20px;
                }
            }
        }

        #goback_link {
            margin-top: 20px;
        }
    }
}
@media (max-width: 480px) {
    main {
        width: 100%;
    }

    #landing h1 {
        font-size: 8vw;
    }

    %btn {
        font-size: 3.2vw;
    }

    .first_post {
        padding: 0;
    }

    .popup_inner {
        width: 100%;
        padding: 10px;
    }

    .popup_close {
        right: 30px;
    }

    .ticket_box {
        padding: 0;
    }
}
@media (max-width: 321px) {
    main {
        width: 100%;
    }

    #landing h1 {
        font-size: 20px;
    }

    %btn {
        font-size: 3.2vw;
    }
}
