

/* MIXING SETTINGS
   ============================= */

// SASS fuctions for dynamic background implementation
@mixin back_Image($image,
    $height: 100vh,
    $bgPos: center center
    ) {
    background: linear-gradient( to bottom,
        rgba(0,0,0,0.3),
        rgba(0,0,0,.6)),
        url($image);
    background-repeat: no-repeat;
    background-position: $bgPos;
    background-size: cover;
    height: $height;
}

@mixin ex_Image ($image) {
    background: url($image);
    background-size:cover;
}

@mixin article_back ($image) {
    background: url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 400px;
    min-height: 300px;
}

@mixin image_grid($qty, $margin) {
    width: ((100% - (($qty - 1) * $margin))/$qty);
    &:nth-child(n) {
        margin-right: $margin;
        margin-bottom: $margin;
    }
    &:nth-child(#{$qty}n) {
        margin-right: 0;
        margin-bottom: 0;
    }
}

@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
