

/* NAVIGATION SETTINGS
   ============================= */

// CSS for the navigation
.navbar-toggle {
	border:2px solid $dark;
	padding: 11px 12px;
}

.navbar-toggle .icon-bar {
	background-color: $dark;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	font-family: $heading;
	text-transform: uppercase;
	font-size:1em;
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: $navbar-padding-horizontal;
  margin-left: $navbar-padding-horizontal;
}

.nav {
	-webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.navbar-brand {
  height: 80px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

nav.scrolled  {
	background: $white;
	opacity: 0.8;
	-webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.navbar-default a.scrolled:link,
.navbar-default a.scrolled:visited,
.navbar-default a.scrolled:active   {
	color: $purple;

}

.navbar-brand.scrolled {
  height: 60px;
  margin-top:10px;
}
