

/* NEWS BOX SETTINGS
   ============================= */

#news_box {
	background: $light;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: 2px 3px 3px #ddd;

	.small {
		text-transform: uppercase;
		font-family: $heading;
		font-size: 11px;
	}

	h2 {
		margin-top: 0;
	}

	.btn-dark {
		background: $orange;
	}
}

#newsitems_box {
	background: $light;
	margin-bottom: 20px;
	box-shadow: 2px 3px 3px #ddd;
	padding: 15px;

	h2 a {
		color: $purple;
	}

	#news_date {
		font-family: $heading;
		font-size: 15px;
	}
}
