

/* POP UP WINDOW SETTINGS
   ============================= */

/* Outer popup, heading + some main text*/
.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 1;
    background-color: #222;
    overflow-y: hidden;
    overflow-x: hidden;
}
/* Inner - pictures, small headings, the content*/
.popup_inner {
    width: 80%;
    padding: 40px;
    margin: auto;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: $light;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    h2 {
        display: inline-block;
        font-size: 2em;
        color: rgba(255,255,255,1);
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }
}
/* Close Button */
.popup_close {
    width: 30px;
    height: 25px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 50px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    font-family: Arial, Sans-Serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    color: #fff;
}
