

/* REVIEW SETTINGS
   ============================= */
   
#review_text {
    text-align: center;

    img {
        width: 70px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }

    article {
        background-color: $white;
        box-shadow: 2px 2px 3px #ddd;
        padding: 30px;
        margin-top: 20px;

        p {
            margin-top: 20px;
        }
    }

    .review {
        margin-bottom: 20px;
    }
}

#review_carousel {
    .carousel {
        width: 100%;
    }

    .carousel-inner > .item {
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 30px;
    }

    .item img {
        width: 100px;
        border-radius: 50%;
        margin: auto;
    }
}
