

/* SUCCES PAGE SETTINGS
   ============================= */

#success_message {
    padding: 10em 0;

    h1 {
        color: $purple;
    }

    p:first-of-type {
        margin-top: 20px;
    }

    p {
        font-size: 16px;
    }

    .go_back_button {
        margin-top: 20px;
    }
}
