

/* PURCHASE TICKET PAGE SETTINGS
   ============================= */

#purchase_ticket {
    background-color: $white;

    h1 {
        color: $purple;
    }

    p {
        font-size: 16px;
    }
}

#contact_form {
    background-color: $white;
    box-shadow: 0 5px 15px;
    margin-top: 2em;
    padding: 0.5em;
    background-color: $light;
    border-radius: 3px;

    .controls {
        border: 3px solid $purple;
        padding: 1.5em 3em;
        border-radius: 3px;

        .form-control {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 5px;
            color: $dark;
        }
    }

    .row {
        margin: 0;
    }

    .credit_card_icon {
        width: 100%;
        margin-top: 26px;
    }

    .small_label {
        font-size: 11px;
    }

    .price_column {
        margin-top: 0.5em;
    }

    .btn-dark {
        margin-left: 0;
    }
}

#goback_link {
    margin-top: 30px;
}
