

/* VARIABLES
   ============================= */

$purple: #300098;
$orange: #ffb246;
$white: #ffffff;
$light_white: rgba(255, 255, 255, 0.8);
$dark: #171717;
$light_dark: rgba(23, 23, 23, 0.8);
$blue: #3ec2cf;
$light: #eeeeee;

$heading: 'Montserrat';
$main_font: Open Sans;
$main_font_size: 13px;
