@import 'fonts', 'mixins', 'variables','normalize', 'base', 'bootstrap-custom', 'popup', 'navigation', 'interface','admin', 'gallery', 'reviews', 'articles', 'ticket', 'footer', 'buttons', 'edit', 'success', 'landing', 'mediaquries', 'news';



body {
	  background-color: $white;
	  font-family: $main_font;
	  font-size: $main_font_size;

}
